body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;  /* Blackhole dark */
  color: #FFFFFF;
  font-family: 'Asul', sans-serif;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Kurale', serif;
  font-family: 'PT Serif', serif;
}

/* Nav Bar */
#navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

#navbar::after {
  content: "";
  display: block;
  position: absolute;
  left: 1rem ;
  right: 1rem;
  bottom: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.navbar-left span {
  margin-right: 1rem;
  font-family: 'Asul', sans-serif;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Kurale', serif;
  font-family: 'PT Serif', serif;
}

.navbar-right {
  list-style: none;
  display: flex;
}

.navbar-right li {
  margin-left: 1rem;
  font-size: 0.9em;  /* Reduced by 30% */
}

.navbar-right li:not(:last-child)::after {
  content: ",";
}

#navbar a {
  text-decoration: none;
  color: #FFFFFF;
}

/* Hero Section */
#hero {
  background-image: url('/img/mountain.jpeg');
  background-size: cover;
  background-position: center;
  margin-top: -5%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.hero-content {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-left div {
  display: flex;  
  align-items: flex-end;
}

.hero-left span {
  display: block;
  font-size: 6.7em;  /* Very large font */
}

.hero-left .engineer {
  margin-top: -1.4rem;
}

.hero-left .ampersand {
  font-size: 3rem;

}

.ampersand {
  align-self: flex-end;
  margin-bottom: 1.2rem; /* Adjust as needed */
}

.hero-right {
  text-align: right;
  width: auto;
  max-width: 600px;
  margin-left: auto;
}

.hero-right p {
  font-size: 2em;  /* Much bigger */
  text-transform: uppercase;
  max-width: 100%;
}

.hero-right button {
  font-size: 1rem;
  color: #FFFFFF;
  padding: 1rem 2rem; /* Increase horizontal padding */
  border: 2px solid white;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 50px; /* High value for pill shape */
  background-color: rgba(255, 255, 255, 0); /* Semi-transparent white background */
  backdrop-filter: blur(5px); /* Blurry background */
  transition: 0.3s; /* Smooth transition for hover effect */
}

.hero-right button:hover {
  background-color: rgba(255, 255, 255, 0.312); /* Slightly less transparent on hover */
}

/* Skills Section */
#skills {
  padding: 2rem;
  font-size: 1.2em;  /* Adjusted to match new aesthetic */
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

/* Projects Section */
#projects {
  padding: 2rem;
  font-size: 1.2em;  /* Adjusted to match new aesthetic */
}

/* Contact Section */
#contact {
  padding: 2rem;
  font-size: 1.2em;  /* Adjusted to match new aesthetic */
}

#contact-form input,
#contact-form textarea,
#contact-form button {
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
}

/* Footer */
footer {
  background-color: #000000;
  padding: 1rem;
  text-align: center;
  font-size: 1.2em;  /* Adjusted to match new aesthetic */
}