body {
  background-color: #000;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  font-size: 18px; /* Increased font size */
}

#content {
  padding: 2em;
  text-align: center;
  max-width: 800px;
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px solid #444;
  border-radius: 5px;
}

h1 {
  margin: 0.5em 0;
  font-size: 2.5em; /* Increased font size */
  border-bottom: 2px solid #444;
  padding-bottom: 0.5em;
}

h2 {
  margin: 1em 0 0.5em 0;
  font-size: 2em; /* Increased font size */
  border-bottom: 1px solid #444;
  padding-bottom: 0.5em;
}

p {
  margin: 1em 0;
  font-size: 1.2em; /* Increased font size */
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 1em;
  border-top: 1px solid #444;
  font-size: 1em; /* Increased font size */
}
